* { box-sizing: border-box; }
html {
    scroll-behavior: smooth;
}
body {
  margin: 0;

  background-color: #fff;
  color: #000;
  font-family:'Courier New', Courier, monospace;
}

/*STYLES*/

h2 {
    margin: 0;
    font-size: 32px;
    line-height: 40px;
    text-transform: uppercase;
}
h3 {
    margin: 0;
    font-size: 24px;
    line-height: 32px;
}
h4 {
    margin: 0;
    font-size: 20px;
    line-height: 28px;
}

.logo {
    margin: 0;
    font-size: 48px;
    line-height: 56px;
    font-weight: 600;
    text-transform: uppercase;
}

a {
    margin: 0;
    font-size: 16px;
    line-height: 24px;

    text-transform: uppercase;
    text-decoration: none;
    color: #000;
}
a:hover {
    margin: 0;
    font-size: 16px;
    line-height: 24px;

    text-decoration: underline;
    color: #000;
}
.link-button {
    margin: 0px;
    padding: 8px 16px;

    border: 1px solid #000;
    border-radius: 50px;
}
.card-button {
    width: 100%;
    margin: 0px;
    padding: 8px 16px;

    text-align: center;

    border: 1px solid #000;
    border-radius: 50px;
}

.cta-long {
    margin: 24px 16px;
    padding: 24px;

    text-align: center;

    border: 1px solid #000;
    border-radius: 50px;
}
.cta-round {
    width: 350px;
    height: 350px;
    padding: 24px;

    text-align: center;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

    border: 1px solid #000;
    border-radius: 100%;
}

/*HEADER*/
header {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 16px;

    z-index: 1;

    position: fixed;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;

    background-color: #fff;
    border: 1px solid #000;
}

/*MAIN*/
main {
    padding-top: 76px;
}

.get_tickets-wrapper {
    width: 100%;
    height: 90vh;

    background-color: #E8AEB7;
}

.section-title {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 16px;

    position: sticky;
    top: 76px;

    border: 1px solid #000;
}

.pink {
    background-color: #E8AEB7;
}
.green {
    background-color: #62B500;
}
.white {
    background-color: #fff;
}

.tickets-wrapper {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
}
.tickets-card {
    width: 25%;
    height: 500px;
    margin: 0;
    padding: 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    border: 0.5px solid #000;
    border-bottom: 1px solid #000;
}
.card-img {
    width: 100%;
    height: auto;

    justify-self:flex-start;
}

.featured_video-wrapper {
    width: 100%;
    height: 90vh;
    background: linear-gradient(to bottom, #E8AEB7, #fff);
}

/*SCHEDULE*/
.schedule-wrapper {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;

    background: linear-gradient(to bottom, #fff, #62B500);
}

.schedule-bar {
    margin: 24px 16px;
    padding: 24px;

    text-align: center;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;

    border: 1px solid #000;
    border-radius: 50px;
}

.schedule-accordion {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 16px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    background-color: #0000;
    border: 1px solid #000;
}
.accordion-s1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.accordion-s2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.panel {
    width: 100%;

    border-bottom: 0px solid #000;
}
.schedule-panel {
    width: 100%;
    padding: 16px;

    display: flex;
    justify-content: flex-end;
}
.schedule-p {
    width: 50%;
}

/*FAQ*/
.faqs-accordion {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 16px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    background-color: #0000;
    border: 1px solid #000;
}
.faqs-panel{
    width: 100%;
    padding: 16px;

    display: flex;
    justify-content: flex-start;
}
.p-50 {
    width: 50%;
}

/*Donate*/
.donate-wrapper {
    width: 100%;
    height: 50vh;
    margin: 0;
    padding: 16px;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;

    background-color: #5CB8FF;
}
.donate-section {
    width: 50%;
    height: auto;
    margin: 0;
    padding: 0;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
}
